body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background:#f2f4f7;
    overflow-y: scroll;
}

div#top {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #d1d8e4;
    width: 1080px;
    height: 150px;
    display: grid;
    line-height: 150px;
    grid-template-columns: 220px 1fr;
    background: white;
}

div#top_icon {
    margin: auto 10px;
    width: 200px;
    height: 100px;
    font-size: 32px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    border: 1px solid #d1d8e4;

}

h1#top_h1 {
    display: inline-block;
    text-align: center;
    line-height: 100px;
    border: 1px solid #d1d8e4;
}

div#menu {
    margin: 0 auto;
    margin-top: 10px;
    width: 1080px;
    background: navy;
}

.menu_bar {
    margin: 0;
    display: inline-block;
    width: 150px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-top: 1px solid navy;
    border-bottom: 1px solid navy;
}

.menu_bar:hover {
    background: lightskyblue;
    color: black;
    border-top: 1px solid #d1d8e4;
    border-bottom: 1px solid #d1d8e4;
}

div#sub_menu {
    margin: 0 auto;
    position: absolute;
    height: 200px;
    width: 773px;
    visibility: hidden;
    border-top: 1px solid #d1d8e4;
    background-color: lightskyblue;
}

.sub_menu_bar {
    margin: 0;
    width: 150px;
    height: 200px;
    text-align: center;
    font-size: 18px;
    background-color: lightskyblue;
    display: inline-grid;
    grid-template-rows: 50px 50px 50px 50px;
}

.sub_menu_item {
    float: top;
    height: 49px;
    line-height: 49px;
    font-weight: bold;
    border-bottom: 1px solid #d1d8e4;
}

.sub_menu_item:hover {
    background: PaleTurquoise;
    color: black;
}

#menu a {
    text-decoration: none;
    color: black;
}

div#main {
    margin: 0 auto;
    margin-top: 10px;
    width: 1080px;
    display: grid;
    grid-template-columns: 220px 1fr;
}

div#main_left {
    margin: 0;
    width: 210px;
    background: white;
    border: 1px solid #d1d8e4;

    display: grid;
    grid-template-rows: 400px;
}

div#main_right {
    padding: 0 20px;
    background: white;
    border: 1px solid #d1d8e4;
}

div#bottom {
    margin: 0 auto;
    margin-top: 10px;
    width: 1080px;
    height: 100px;
    display: block;
    text-align: center;
    float: bottom;
    background: white;
    border: 1px solid #d1d8e4;
}
