table {
    margin-left: 40px;
    border-collapse: collapse;
    text-align: center
}

th, td {
    font-size: 16px;
    text-align: center;
    height: 30px;
}

#main {
    width: 750px;
    display: inline-block;
}

#menubar {
    display: inline-block;
    position: fixed;
    top:30px;
    left : 780px;
    margin: 0;
    padding: 0;
}

.vertical-title {
    width: 150px;
    margin: 0;
    padding: 0;
}

.vertical-title li {
    list-style-type: none;
    text-align: center;
    font-weight: bolder;
    height: 50px;
    line-height: 50px;
    background-color: navy;
    color:white;
    border-bottom: 1px solid white;
}

.vertical-menu {
    width: 150px;
    margin: 0;
    padding: 0;
}

.vertical-menu li {
    list-style-type: none;
    border-bottom: 1px solid white;
}

.vertical-menu a {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #fbf9a4;
    color: black;
    padding: 0;
}

.vertical-menu a:hover {
    background-color: #FFFF00;
    color: black;
}
