.explanation {

}

table td {
    text-align: center;
}

#main {
    width: 750px;
    display: inline-block;
    border: 1px solid black;
}

#menubar {
    border: 1px solid black;
    display: inline-block;
}

.vertical-menu {
    width: 150px;
    margin: 0 auto;
}

.vertical-menu li {
    list-style-type: none;
}

.vertical-menu a {
    font-size: 14px;
    text-decoration: none;
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #fbf9a4;
    color: black;
    padding: 0;
    border-bottom: 1px solid #FFFF00;
}

.vertical-menu a:hover {
    background-color: #FFFF00;
    color: #fff;
}
